<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- fontaswem -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <title>RK EVENTS</title>
</head>

<body>
    <!--.............. navbar................. -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top">
        <a class="navbar-brand" href="#"><img src="{% static '/images/logoo1.png' %}" class="img-fluid"
                alt="this is logo" height="70" width="70"></a></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <!-- <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" href="#services" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="wedding.html">Marriage</a>
                        <a class="dropdown-item" href="birthday.html">Birthday party</a>
                        <a class="dropdown-item" href="other.html">Other Events</a>

                    </div>
                </li> -->
                <li class="nav-item active">
                    <a class="nav-link" href="#photos">Photos <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/contact">Contact<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/booking">Booking</a>
                
                </li>

            </ul>

            <!-- ............login button............ -->
            <div class="mx-2">
                <button class="btn btn-success" data-toggle="modal" data-target="#loginModal">Login</button>
            </div>
            <!-- sign up button -->
            <div class="">
                <button class="btn btn-success" data-toggle="modal" data-target="#signupModal">Sign up</button>
            </div>

    </nav>

    <!-- login modal section -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title " id="loginModalLabel">Login Form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- login form -->

                    <form action="/login" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                          
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                        </div>
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">

                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    <!-- login form -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- sign up Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalLabel">Sign-up form</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- signup form -->
                    <form action="/validation" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">First name</label>
                            <input type="text" class="form-control" name="first_name" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last name</label>
                            <input type="text" class="form-control" name="last_name" id="exampleInputEmail1"
                                aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" name="email" id="exampleInputEmail1"
                                aria-describedby="emailHelp">
                            
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" name="password" id="exampleInputPassword1">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">confirm Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1">
                        </div>

                        <button type="submit" class="btn btn-primary">Create Account</button>
                    </form>
                    <!-- signup -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- .....................slider................. -->
    <section>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>

            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{% static '/images/1.jpg' %}" class="d-block w-100" alt="first" class="img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Marriage Ceremony</h2>
                        <h5>We make every Moment special!</h5>
                        <p></p>
                        <a href="{% url 'wedding' %}"><button class="btn btn-success">Read More</button></a>
                    </div>
                </div>

                <div class="carousel-item">
                    <img src="{% static '/images/02.jpg'%}" class="d-block w-100" alt="second" class="img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Birthday Party</h2>
                        <h5>We make every Moment special!</h5>
                        <a href="{% url 'birthday' %}"><button class="btn btn-success">Read More</button></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="{% static '/images/03.jpg' %}" class="d-block w-100" alt="third" class="img-fluid">
                    <div class="carousel-caption d-none d-md-block">
                        <h2>Other Events</h2>
                        <h5>We make every Moment special!</h5>
                        <a href=""><button class="btn btn-success">Read More</button></a>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </button>
        </div>
    </section>
    <!-- ................about us page.................... -->
    <!-- <section class="about">
        <div class="banner-button text-center my-5">
            <h2>ABOUT US </h2>
            <div class="container my-10">

                <div class="row">
                    <div class="col-lg-5">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            of type and
                            scrambled it to make a type specimen book. It has survived not only five centuries, but also
                            the leap into
                            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release
                            of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software
                            like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        <a href="#" class=" btn btn-success">Read More...</a>
                    </div>
                    <div class="col-lg-7">
                        <img src="images/13.jpg" class="img-fluid" alt="img">
                    </div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </section>
   -->
    <!-- ..................services................... -->
    <div class="service mt-4">
        <div class="container text-center">
            <h2 class="text-center text-white">OUR SERVICES</h2>

            <P class="text-center text-white"> We are one of the best WEDDING PLANNER & EVENT MANAGEMENT company in
                ranchi</P>
            <div class="row my-7">
                <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                    <figure class="figure"><img src="{% static '/images/w.jpg' %}" alt=""
                            class="figure-img img-fluid rounded-circle" height="250px" width="250px"></figure>
                    <figcaption>
                        <h4 class="text-white">Marriage Celebration</h4>
                        <a href="wedding.html" class=" btn btn-success">More</a>

                    </figcaption>
                </div>
                <div class="col-lg-4">
                    <figure class="figure"><img src="{% static '/images/bdy.jpg' %}" alt=""
                            class="figure-img img-fluid rounded-circle" height="250px" width="250px"></figure>
                    <figcaption>
                        <h4 class="text-white">Birthday Party</h4>
                        <a href="birthday.html" class=" btn btn-success">More</a>

                    </figcaption>
                </div>
                <div class="col-lg-4">
                    <figure class="figure"><img src="{% static '/images/ot.jpg' %}" alt=""
                            class="figure-img img-fluid rounded-circle" height="250px" width="250px"></figure>
                    <figcaption>
                        <h4 class="text-white">Social Events</h4>
                        <a href="#" class=" btn btn-success">More</a>

                    </figcaption>
                </div>

            </div>
        </div>
    </div>

    </section>


    <!-- .....................photoes section................. -->
    <section class="Photos text-center my-5" id="photos">
        <!-- <marquee style="background-color: aquamarine; text-decoration-color: blueviolet;">
            <h1>.................photos..................photos.....................photos................Photos..............photos...............
            </h1>
        </marquee> -->
        <h1 class="text-center text-white">PHOTOS</h1>
        <div class="container-fluid my-5">
            <div class="row">

                <div class="col-lg-3">
                    <img src="images/marriage.jpg" class="img-fluid" alt="event">
                </div>

                <div class="col-lg-3"><img src="{% static '/images/b12.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/b13.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/seminar.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/b15.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/bg6.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/b19.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/b22.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/marriage.jpg' %}" class="img-fluid" alt="event">
                </div>
                <div class="col-lg-3"><img src="{% static '/images/b12.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/b13.jpg' %}" class="img-fluid" alt="event"></div>
                <div class="col-lg-3"><img src="{% static '/images/seminar.jpg' %}" class="img-fluid" alt="event"></div>

                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <!-- team section -->

    <div class="team ">
        <div class="container">
            <h2 class="text-center text-white">Our Creative Team</h2>
            <div class="row my-5">
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body text-center">
            
    
                            <img src="{% static '/images/s.jpg' %}" alt="" class="img-fluid"
                                style="border-radius:150px;">
                            <h4 class="card-title">Suruchi Kumari</h4>
                            <h5 class="card-title text-danger">Wedding Plannar</h5>
                            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <img src="{% static '/images/r.jpg' %}" alt="" class="img-fluid"
                                style="border-radius: 150px;">
                            <h4 class="card-title">Rekha Kumari</h4>
                            <h5 class="card-title text-danger">Wedding Plannar</h5>
                            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="card mb-3">
                        <div class="card-body text-center">
                            <img src="{% static '/images/n.png' %}" alt="" class="img-fluid"
                                style="border-radius: 150px;">
                            <h4 class="card-title">Neha Kumari</h4>
                            <h5 class="card-title text-danger">Wedding Plannar</h5>
                            <p>Here you can use rows and columns to organize your footer content. Lorem ipsum
                                dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- .................feedback us with map.............. -->
    <section class="contact text-center my-5" id="feedback">
        <h1>Feedback</h1>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-8">
                    <form>
                        <!-- Name input -->
                        <div class="form-outline mb-4">
                            <input type="text" id="form4Example1" class="form-control" />
                            <label class="form-label" for="form4Example1">Name</label>
                        </div>

                        <!-- Email input -->
                        <div class="form-outline mb-4">
                            <input type="email" id="form4Example2" class="form-control" />
                            <label class="form-label" for="form4Example2">Email address</label>
                        </div>

                        <!-- Message input -->
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="form4Example3" rows="4"></textarea>
                            <label class="form-label" for="form4Example3">Message</label>
                        </div>

                        <!-- Checkbox -->
                        <!-- <div class="form-check d-flex justify-content-center mb-4">
                            <input class="form-check-input me-2" type="checkbox" value="" id="form4Example4" checked />
                            <label class="form-check-label" for="form4Example4">
                                Send me a copy of this message
                            </label>
                        </div> -->

                        <!-- Submit button -->
                        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
                    </form>
                </div>
                <div class="col-md-4">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14649.04268034525!2d85.34814181489658!3d23.378785402534294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e16223d88c6f%3A0xc56a7f4bc648d540!2sKokar%2C%20Ranchi%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1649795326624!5m2!1sen!2sin"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </section>



    <!-- .................footer................. -->

    <section class="footer">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-5">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-gem me-3"></i>Company name
                    </h6>
                    <p>
                        Here you can use rows and columns to organize your footer content. Lorem ipsum
                        dolor sit amet, consectetur adipisicing elit.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Services
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Marriage</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Birthday</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">social Events</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Other Events</a>
                    </p>
                </div>

                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contact
                    </h6>
                    <p><i class="fas fa-home me-3"></i> Ranchi, Main road, Jharkhand</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i>
                        info@rkevents.com
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                    <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
                <!-- Grid column -->

                <div class="col-lg-3">
                    <h4>News Letter</h4>
                    <hr>
                    <form>
                        <input type="text" class="form-control" name="name" placeholder="Enter your name">
                        <input type="text" class="form-control" name="mail" placeholder="Enter your email"><br>
                        <button class="btn btn-primary btn-block">submit</button>
                    </form>
                </div>
            </div>
            <div class="font">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>

            </div>
        </div>
        <!-- Grid row -->
        </div>


        </footer>
        <!-- Footer -->
    </section>

    <footer class="text-center text-white" style="background-color: #f1f1f1;">
        <!-- Grid container -->
        <div class="container pt-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-facebook-f"></i></a>

                <!-- Twitter -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-twitter"></i></a>

                <!-- Google -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-google"></i></a>

                <!-- Instagram -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-instagram"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-linkedin"></i></a>
                <!-- Github -->
                <a class="btn btn-link btn-floating btn-lg text-dark m-1" href="#!" role="button"
                    data-mdb-ripple-color="dark"><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright:
            <a class="text-dark" href="https://mdbootstrap.com/">Rekha Kumari</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="js/lightbox.js"></script>

    <!-- slick -->
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>


</body>

</html>